@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
}
.container{
    width: 90%;
    margin: auto;
}
a{

    font-size: 20px;
    list-style: none;
    transition-duration: 0.5s;
    padding: 10px;
    color: rgb(252, 250, 250);
    text-decoration: none;
    width: fit-content;

}

  a:hover{
    background-color: rgb(234, 250, 6);
    color: rgb(10, 10, 10);
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;
}
@media screen and (min-width:600px) {
    nav{
        margin:auto ;
        width: 100%;
        height: 60px;
        overflow: hidden;
        background: black;
        background-size: 100%;
        background-blend-mode: multiply;
        text-transform: capitalize;
        color: white;
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        justify-items: center;
        
            
    }
 
    nav .brand{
        overflow: hidden;
        flex: 0 1 3.5%;
        height: 100%;
        background: url(../images/logo.png) no-repeat;
        background-size: 100%;  
    }
   
    nav .links{
        flex: 0 1 95%;
        height: 100%;
    }
    nav .links ul{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-evenly;
        margin-left: 55%;
        text-align: center;
    
    }
    nav .links li{
        
        list-style: none;
        padding-top: 6px;
    }
}
@media screen and (min-width:100px) and (max-width:600px) {
 
}

/* start header style */

    .header{
        background: yellow;
        height: 500px;
        background-size: 100%;
        width: 100%;
        overflow: hidden;
    }


@media screen and (min-width:500px) and (max-width:900px)    {
    .header{
        height: 300px;
    } 
}
@media screen and (min-width:100px) and (max-width:500px)    {
    .header{
        height: 150px;
    } 
}
@media screen and (min-width:100px) and (max-width:300px)    {
    .header{
        height: 80px;
    } 
}


.header .clip{

    min-height: 600px;
    background: url(../images/banner.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    clip-path: circle(65% at 50% -7%);
    overflow: hidden;

}


     /* start tennis style */
.tennis{
    text-align: center;
    display: flex;
    width: 90%;
    min-height: 200px;
    justify-content: space-evenly;
    flex-flow: wrap row;
    top: -60px;
    position: relative;
    margin: auto;
}

.tennis .main{

    flex: 0 1 200px;
    height: 150px;
    margin: auto;
    border: 0.5px solid orange;
    border-radius: 8px;
    font-size: 30px;
    background: white url(../images/tennisacademy.jpg) no-repeat ;
    background-size: 100%;
    background-position: center;
    
 }



 .tennis .main .over{
     
    background-color: yellow;
    text-align: left;
    font-size: 20px;
    line-height: 60px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: circle(0 at 0 0);
}
.tennis .main:hover .over{
    transition: all 1s;
    clip-path: circle(60% at 0 0);
}


/* end tennis style */

/* start sec2 style */

.sec2 {
    overflow: hidden;
    margin: auto;
    min-height: 400px;

    width: 90%;
    position: relative;
   
}

.sec2 .head{
 
    text-align: center;
    text-transform: capitalize;
    color: #464c92;
    font-size: 15px;

}
hr{
    width: 40%;
    margin-top: 10px;
}
.sec2 .infoandlogo{
    min-height: 150px;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.sec2 .infoandlogo .information{
    flex: 0 1 400px;
    text-transform: capitalize;
    color: #4c5f9e;
    font-family: 'Roboto', sans-serif;
}
.sec2 .infoandlogo  .logo {
    flex: 0 1 500px;
    border-radius: 20px;
}
.sec2 .infoandlogo  .logo img{
    width: 100%;
    border-radius: 20px;
}


/* end sec2 style */

/* start sec3 style */
.sec3{
    min-height: 330px;
    overflow: hidden;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
    justify-items: center;

}
.sec3  .schedule h1{
    text-align: center;
    text-transform: capitalize;
    color: #4c5f9e;
    font-size: 30px;
}
.sec3  .schedule{
    flex: 0 1 10%;
}
hr{
    width: 40%;
}
.sec3  table  {
flex: 0 1 70%;
text-align: center;
font-style: italic;
padding: 6px;

}
.sec3  table tr:nth-child(even){
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',;
    background-color:#cccccc ;
    padding: 6px;

}
/* start sec style */

.sec4{
    min-height: 400px;
    margin-bottom: 40px;
}
.sec4 .latest h1{
    text-align: center;
    text-transform: capitalize;
    color: #4c5f9e;
    font-size: 30px;

}
.sec4 .news{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    flex-wrap: wrap;

}

.sec4  .news >div{
    margin:auto;
    padding-top: 15px;
    
    width: 390px;
    text-align: center;
    min-height: 150px;
    border: 1px solid rgb(182, 157, 157);
    border-radius: 10px;

}
.sec4  .news img {
    width:90%;
}
/* end sec4 style */
/* start sec5 style */

.sec5{
    background: yellow;
    min-height: 400px;
    width: 90%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    justify-items: center;
    margin: auto;
}
.sec5 .pic1{
    flex: 0 1 500px;
}
.sec5 .pic1 img{
  width: 100%;
  height: 100%; 

}

.sec5 .pic2{
   flex: 0 1 600px;
    }
.sec5 .pic2 iframe{
  width: 100%;
  height: 100%;
}
/* @media screen and (min-width:200px) {
    .sec5 .pic1{
        flex-grow: 1;
    }
    .sec5 .pic2{
        width: 40%;
        flex-grow: 1;
        }
} */
/* end sec5 style */
/* start map style */
map{
    display: block;
    width: 100%;
}
map iframe{
    width: 100%;
}
/* end map style */
  


